.m{
    display: flex;
}
#date{
    margin: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
#connec{
    top:100px;
    height: 80%;
}