#logo{
    position: absolute;
    top: 10px;
    left:10px;
    color:rgb(255, 2, 103);
    font-size: 20px;
}
/*---------------------------------ttraille sur la description description-------------------------*/
#description{
    position: absolute;
    background-color: rgb(0, 193, 157);
    left: 0px;
    top:0px;
    height: 100%;
    width: 40%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*--------------------------traville sur connec----------------------*/
#connec{
    position: absolute;
    background-color: white;
    top:0px;
    right: 0px;
    width: 60%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title{
    color: rgb(0, 193, 157);
}
.m input{
    position: relative;
    margin: 20px;
    height: 35px;
    width: 300px;
    border:none;
    background-color: rgb(243, 253, 232);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
}
/* ------------------ aficher et masque la  check box------------------------*/
#aficher{
    position: absolute;
    left: 470px;
    visibility: hidden;
}
#masque{
    position: absolute;
    left: 470px;
}
/*----------------------travaille sur le logo------------------------*/
#envoyer{
    position: relative;
    margin: 20px;
    height: 35px;
    width: 100px;
    color: white;
    background-color: rgb(0, 193, 157);
    border-radius: 15px;
}
/*------------------------formulaire d'ajout----------------------*/
#date select{
    height: 35px;
    border:none;
    background-color: rgb(144, 225, 221);
    appearance: none;
    border-radius: 6px;
}
/*---------------------gestion du profil-----------------*/
.profil{
    position: absolute;
    top:50px;
    margin: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}