#logo{
    position: absolute;
    top: 10px;
    left:10px;
    color:rgb(255, 2, 103);
    font-size: 20px;
}
/*---------------------------------ttraille sur la description description-------------------------*/
#description{
    position: absolute;
    background-color: rgb(0, 193, 157);
    left: 0px;
    top:0px;
    height: 100%;
    width: 40%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*--------------------------traville sur connec----------------------*/
#connec{
    position: absolute;
    background-color: white;
    top:0px;
    right: 0px;
    width: 60%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title{
    color: rgb(0, 193, 157);
}
.m input{
    position: relative;
    margin: 20px;
    height: 35px;
    width: 300px;
    border:none;
    background-color: rgb(243, 253, 232);
    -webkit-appearance: none;
    appearance: none;
    border-radius: 6px;
}
/* ------------------ aficher et masque la  check box------------------------*/
#aficher{
    position: absolute;
    left: 470px;
    visibility: hidden;
}
#masque{
    position: absolute;
    left: 470px;
}
/*----------------------travaille sur le logo------------------------*/
#envoyer{
    position: relative;
    margin: 20px;
    height: 35px;
    width: 100px;
    color: white;
    background-color: rgb(0, 193, 157);
    border-radius: 15px;
}
/*------------------------formulaire d'ajout----------------------*/
#date select{
    height: 35px;
    border:none;
    background-color: rgb(144, 225, 221);
    appearance: none;
    border-radius: 6px;
}
/*---------------------gestion du profil-----------------*/
.profil{
    position: absolute;
    top:100px;
    margin: 10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----------------------------------------le header----------------------------------*/
header{
    position: absolute;
    background-color:rgb(30, 87, 109);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0px;
    left: 0px;
    z-index: 3;
    height: 100px;
    width: 100%;
}
header p{
    position: relative;
    font-size: 35px;
    color: rgb(255, 2, 103);
}
nav{
    position: relative;
    display: flex;
    top:65px;
    margin-right: 20px;
}
nav a{
    display: block;
    text-decoration: none;
    height: 35px;
    width: 150px;
    border-right: 1px solid white;
    text-align: center;
    color: white;
    background-color: rgb(0, 193, 157) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav a:last-child{
    border-right: none;
}
#la{
    background-color: rgb(137, 54, 65);
}
/*-----------------mail ou mot de passe erroner----------------------*/
.fauxmail{
    border-color: red;
    box-shadow: 0 0 0 0 red;
    animation: change 2s infinite ;
}
.fauxmotdepasse{
    border-color: red;
    box-shadow: 0 0 0 0 red;
    animation: change 2s infinite;
}
.faux{
    border-color: red;
    box-shadow: 0 0 0 0 red;
    animation: change 2s infinite;
}
@keyframes change{
    to{
        box-shadow: 0 0 0 5px rgba(1, 0, 0, 0.01);
    }
}